.card-loading {
  animation: gradient 3s ease infinite;
  background: linear-gradient(
    -45deg, 
    rgb(211 211 211), 
    rgb(211 211 211), 
    rgb(211 211 211), 
    rgb(211 211 211), 
    rgb(255, 255, 255), 
    rgb(211 211 211),
    rgb(211 211 211), 
    rgb(211 211 211), 
    rgb(211 211 211)
    );
  background-size: 800% 100%;
  // background-color: rgb(211 211 211);
  border: 2px solid rgb(230 230 230);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  
  &__box {
    height: 5.5rem;
    width: 33rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -100%;
  }
}